<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>F61CachePlacingRetrievingObjects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>F61CachePlacingRetrievingObjectsSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9BE3E841B29BD5A00CD0A72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9BE3E9D1B29BD5B00CD0A72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9BE3EB11B29BDAC00CD0A72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9BE3EC51B29BDAC00CD0A72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
