<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>F59DataRecursiveRelations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>F59DataRecursiveRelationsSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9BE3E201B29BBAB00CD0A72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9BE3E391B29BBAB00CD0A72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9BE3EFD1B29BDEF00CD0A72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9BE3F111B29BDEF00CD0A72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
